$label-width: 90px;
$label-font-size: 12px;
$control-height: 40px;
$wide-control-width: 340px;
$narrow-control-width: 155px;
$control-margin: 10px;
$indexed-field-control-width: 180px;
$indexed-field-label-width: $indexed-field-control-width - 40px;
